.container {
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.search-input, .search-list {
    padding: 16px;
    background-color: #f4f4f4;
    font-size: 20px;
    border-radius: 10px;
    list-style-type: none;
}

.search-input {
    width: 100%;
}


ul {
    margin: 0;
}

li{
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #eeeeee;
}

.none {
    display: none;
}

.block {
    display: block;
}