html, body {
    font-family: 'Circular Std';
    font-weight: normal;
    font-style: normal;
    height: 100%;
}

.none {
	display: none !important;
}

.no-scroll {
	overflow: hidden;
}


.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-wide {
    max-width: 1440px;
    margin: 0 auto;
}

.block-hide {
    display: none;
}